@import url('https://fonts.googleapis.com/css2?family=Scope+One&family=Trocchi&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --blue: #3498db;
    --darkGray: #3f3f3f;
    --gray: #999;
    --lightGray: #ddd;
    --white: #fafafa;
    --black: #000;

    --scope-one: 'Scope One', serif; 
    --trocchi: 'Trocchi', serif; 

    --gfs: 1rem;
    --lfs: 1.25rem;
    --fsh1: 3.75rem;
    --fsh2: 2.25rem;
    --fsh3: 1.75rem;
    --fsh4: 1.25rem;
}
body {
    font-family: var(--scope-one);
    font-size: var(--gfs);
    background-color: var(--white);
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 30px;
}
h1 {font-size: var(--fsh1);}
h2 {font-size: var(--fsh2);}
h3 {font-size: var(--fsh3);}
h4 {font-size: var(--fsh4);}
p {
    color: var(--gray);
    margin-bottom: 30px;
    line-height: 1.2;
}
.py {
    padding: 80px 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.img-wrapper {
    height: 370px;
    padding: 7px;
    border: 1px solid var(--lightGray);
    border-radius: 50%;
}
img {
    width: 100%;
    border-radius: 50%;
}
.btn {
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 700;
}
/* header */
header {
    position: fixed;
    top: 0;
    z-index: 2;
}
/* banner */
.banner {
    height: 100vh;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
}
.banner .intro {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.banner h1 {
    font-size: var(--fsh1);
    color: var(--white);
    background-color: red;
}
.main-btn {
    padding: 18px 30px;
    font-size: var(--lfs);
}
/* about */
.about div:nth-child(1) {
    width: 370px;
}
.about div:nth-child(2) {
    width: 65%;
}
/* hightlight */
.highlight {
    background-color: var(--blue);
}
.highlight h2 {
    color: var(--white);
}
.highlight p {
    color: var(--white);
}
.highlight div:nth-child(1) {
    width: 65%;
}
.highlight div:nth-child(2) {
    width: 370px;
}
.light-btn {
    background-color: var(--white);
    color: var(--blue);
}
/* articles */
.articles article:first-child {
    text-align: center;
}
.articles h2 {
    margin-bottom: 25px;
}
.articles h2 + p {
    font-size: var(--lfs);
}
.articles .img-wrapper {
    height: 340px;
    margin: 30px 0;
}
.articles .card {
    width: 340px;
    text-align: center;
}


